.input{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    color: #07A745;
    background: #00000069;
    justify-content: space-between;
}
.imput-box{
    width: 90%;
    height: 100%;
    padding: 0 0 0 24px;
    display: flex;
    align-items: stretch;
    align-content: center;
}
.imput-box input[name="typed-msg"]{
    width: 100%;
    overflow: hidden;
    outline: none;
    border: 0px;
    background: #0000;
    color: #fff;
}
.smiles-box{
    width: 10%;
    height: 40px;
    padding: 0 24px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.smiles{
    width: 30px;
    height: 30px;
    cursor: pointer;
}